.content {
    text-align: center;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.inline-block {
	display: inline-block;
}


.target {
	display: block;
}

.target.input-group .form-control:nth-child(2) {
	border-radius: 4px;
}

.target .input-group-btn { 
	display : none;
}

.row {
    margin-bottom: 50px;
}